<div class="list-outer-container">
  <div *ngIf="userProfile === null" class="lds-dual-ring"></div>
  <button *ngIf="userProfile" mat-raised-button color="accent" class="add-button" [routerLink]="['/apps', 'create']">Add new app</button>
  <div class="tw-mt-4" *ngIf="userProfile?.addedApplications?.length === 0">You have not added any apps yet</div>
  <div class="list">
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let app of userProfile?.addedApplications">
        <mat-expansion-panel-header>
          <mat-panel-title class="tw-font-bold">
            {{app.name}}
          </mat-panel-title>
          <mat-panel-description>
            <div class="panel-description">
              <p>{{app.baseUrl}}</p>
              <div class="button-container">
                <button appClickStopPropagation mat-icon-button [routerLink]="['/apps', app.uid]"><mat-icon>open_in_new</mat-icon></button>
                <button appClickStopPropagation mat-icon-button [routerLink]="['/apps', 'edit', app.uid]"><mat-icon>edit</mat-icon></button>
                <button appClickStopPropagation mat-icon-button (click)="handleAppDelete(app.uid)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="tw-mb-2">Endpoints</p>
        <p *ngFor="let endpoint of app.endpoints">{{endpoint.relativeUrl}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
