.bug-container {
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--navbar-color);
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
