<div class="app-outer-container" (click)="handleAppClick()" [ngClass]="isSelected() ? 'selected' : ''">
  <div class="content-container">
    <img class="app-image"
         *ngIf="!imageError"
         [src]="'https://' + app.baseUrl + '/favicon.ico'"
         alt="app"
         (error)="onImageError($event)">
    <div *ngIf="imageError" class="fallback-content"></div>
    <div>{{app.name}}</div>
  </div>

  <div *ngIf="!isSearchComponent" class="eliminate-button" (click)="removeApp.emit(app.uid)">
    <mat-icon>close</mat-icon>
  </div>
  <button appClickStopPropagation *ngIf="isSearchComponent" mat-raised-button color="accent" (click)="pinApp.emit(app)">Add</button>
</div>
